.weui-cells {
	height: 5px;
	background-color: #F5F5F5;
	margin-top: 0;
}

.weui-media-box__title{
	font-size: 13px;
	font-weight: 600;
}
html{
	overflow: auto;
}
.weui-panel__hd{
	background-color: #efeff4;
	font-size: initial;
	font-weight: 500;
	color: #000000;
	text-align: center;
}
.weui-media-box {
    padding: 15px;
    position: relative;
    border: groove;
}